$breakpoints: (
  'extra-small': (
    max-width: 570px,
  ),
  'small': (
    min-width: 570px,
  ),
  'medium': (
    min-width: 768px,
  ),
  'large': (
    min-width: 992px,
  ),
  'extra-large': (
    min-width: 1200px,
  ),
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "O Breakpoint `#{$breakpoint}` não foi encontrado. "
    + "Breakpoints disponíveis: #{map-keys($breakpoints)}.";
  }
}
