:root {
  --color-violet: #a200ffff;
  --color-pink: #ff318cff;
  --color-green: #00e4a0ff;
  --color-blue: #00acffff;
  --color-blue-dark: #121e48b3;
  --color-yellow: #ffbf21ff;

  --color-white: #ffffffff;
  --color-black: #181818;
  --color-black-2: #292929;

  --color-gray: #eef0f2ff;
  --color-gray-2: #e7e9edff;
  --color-gray-dark: #7b8192;

  --color-blue-dimmed: #1832730f;
  --color-black-dimmed: #0707071f;
}
